<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Express • TodoMVC</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <section class="prompt">
      <h3>Login to MapUs</h3>
      <h1>Sign in</h1>
      <a class="button google" href="/login/federated/google"
        >Sign in with Google</a
      >
    </section>
    <footer class="info">
      <p>
        Created by
        <a href="mailto:nagypeterpal@gmail.com">nagypeterpal@gmail.com</a>
      </p>
    </footer>
  </body>
</html>
